{
  "presets": ["stage-0"],

  "env": {
    "commonjs": {
      "presets": ["es2015-loose"],
      "plugins": ["add-module-exports"]
    },

    "es": {
      "presets": ["es2015-loose-native-modules"]
    }
  }
}
