{
  "parser": "babel-eslint",
  "extends": "rackt",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "semi": [2, "never"]
  },
  "globals": {
    "__CONFIG__": true
  }
}
